asgiref==3.2.10
cycler==0.10.0
decorator==4.4.2
dill==0.3.2
django==3.1.1
django-cors-headers==3.5.0
djangorestframework==3.11.1
imageio==2.9.0
joblib==0.16.0
kiwisolver==1.2.0
lightgbm==3.0.0
lime==0.2.0.1
matplotlib==3.3.2
networkx==2.5
numpy==1.19.2
pillow==7.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pywavelets==1.1.1
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
sklearn==0.0
sqlparse==0.3.1
threadpoolctl==2.1.0
tifffile==2020.9.22
tqdm==4.49.0